@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Łukasz Skierka<br />
    Indeks: 52164<br />
    <abbr title="Telefon">Tel:</abbr>
    501-661-112
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:skierka.lukasz@gmail.com">skierka.lukasz@gmail.com</a>
</address>